<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>My congrats brooo, you solved this ctf !!!</h2>
    <h1>iituCTF{j5_i5_pr377y_u5efu11}</h1>
</body>
</html>