<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title hint="pokemon 666">Document</title>
</head>
<body>
    <h1>Good job, but try this one</h1>
    <section id="container">
        <% for(let i = 0; i <= 898; i++){ %>
            <img src="<%= `${baseUrl}${i}.png` %>" alt="">
        <% } %>
    </section>
</body>
</html>